/* All animations */
.cheese {
  left: 2%;
  -webkit-animation-name: turn-left;
  -webkit-animation-duration: 2s;
  animation-name: turn-left;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.camel {
  right: 2%;
  padding: 10px;
  -webkit-animation-name: turn-right;
  -webkit-animation-duration: 4s;
  animation-name: turn-right;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#middle-block img {
  -webkit-animation-name: spin; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#intro-block,
#middle-block,
#copyright,
.btn-next {
  -webkit-animation-name: fade-in; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: fade-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes turn-left {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(-15deg);}
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(15deg);}
  100% {transform: rotate(0deg);}
}

@keyframes turn-right {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(15deg);}
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(-15deg);}
  100% {transform: rotate(0deg);}
}
